agent_name=baymax

openai_api_key=openai_api_key
google_application_credentials=path/to/google/credentials.json

log_level=debug
log_dir=src/data/logs
log_file_name=baymax
log_rotate_size=5000000
log_rotate_count=5

tts_backend=google_custom
asr_backend=cloud
llm_backend=openai
search_backend=annoy_python

cache_dir=src/data/caches
self_knowledge_path=src/data/memory/self_knowledge.json
context_cache_path=src/data/memory/context_cache.json
name_memory_path=src/data/memory/name_memory.json